{% extends 'base.html.twig' %}

{% block title %}Mes articles!{% endblock %}

{% block body %}

    {% for article in articles %}
        <h1>{{ article.title }}</h1>
        <p> Ecrit le {{ article.createdAt | date('d/m/yy') }} à {{ article.createdAt | date('h:i') }}  </p>
        <img src="{{ article.image }}">
        <p> 
        {{ article.content | raw }}
        <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
        </p>
    {% endfor %}
    
    {{ knp_pagination_render(articles) }}

{% endblock %}
